body{
    background-color: white;
    font-family: 'Raleway';
    margin-left: 50px;
   
}
body ul{
    list-style-type: none;
}
body a:link{
    text-decoration: none;
}
#ins a , i{
    color:#0065FC ;
}
header a{
    border: 2px solid transparent;
}
#heb a , #act a , #heb a:visited , #act a:visited{
    color: black;
}
#heb a:hover , #act a:hover{
    color: #0065FC;
    border-top-color: #0065FC;
    padding-top: 30px;
}
header ul{
    display: flex;
    margin-right: 75px;
    margin-left: 975px;
    margin-top: 50px;
    color: #0065FC;
    justify-content: space-evenly;
}
#logo{
    margin-top: -40px;
}
#local{
    display: flex;
    margin-top: 40px;
}
#local i{
    color: black;
}
#local input{
    height: 50px;
    border: 2px solid #F2F2F2;
    width: 235px;
    font-size: 1.1em;
    font-weight: bold;
    border-left: 0px;
    border-right: 0px;
    color: black;
}
::placeholder{
    color: black;
}
button{
    color: white;
    background: #0065FC;
    width: 135px;
    height: 52px;
    border: 3px  solid #0065FC;
    border-left: none;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    font-weight: bold;
    
}
#local i{
    background-color:#F2F2F2;
    height: 50px;
    width: 50px;
    border: 3px solid #F2F2F2;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
#section1 nav{
    display: flex;
    margin-top: 30px;
}
#section1 ul{
    display: flex;
    width: 80%;
}
#section1 nav p{
    padding-top: 22px;
    
}
#section1 ul i{
    background-color: #DEEBFF;
}

#filtres i{
    border: 3px solid #DEEBFF;
    height: 30px;
    width: 50px;
    border-radius: 50px;
    padding-top: 22px;
    margin-top: -3px;
    text-align: center;
    
}
#ani{
    width: 220px;
    margin-left: 25px;
}
#éco{
    width: 193px;
    
}
#fam{
    width: 152px;
    margin-left: 25px;
}
#rom{
    width: 182px;
    margin-left: 25px;
}
#filtres li{
    border: 3px solid rgb(217, 217, 217);
    border-left: 0px;
    border-radius: 50px;
    height: 55px;
    
}#filtres a:hover{
    color: #0065FC;
}
#section1 a , #section2 a , #section2 p , #section3 h3{
    color: black;
    font-weight: 700;
}#info{
    text-align: left;
    margin-top: 40px;
}
#info i{
    border: 1px solid rgb(217, 217, 217) ;
    height: 25px;
    width: 25px;
    text-align: center;
    border-radius: 50px;
    display: table-cell;
    vertical-align: middle;
    margin-top: 370px;
}
#info p{
    margin-top: -20px;
}
#section2 h2 , #info p{
    margin-left: 40px;
}
#section2{
    display: flex;
    margin-top: 60px;
}
#section2 img{
    object-fit: cover;
}
#section2 article , #section2 aside{
    background-color: #F2F2F2;
    border-radius: 20px;
    padding-top: 50px;
    height: 625px;
    align-items: flex-start;
}
#section2 article{
    width: 880px;
}
#section2 aside{
    width: 420px;
    margin-left: 40px;
}
#can , #por , #mou , #mer , #pan , #ami , aside li{
    box-shadow: 3px 3px 3px gainsboro;
}
#ch{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#ch li{
    width: 237px;
    height: 210px;
    background-color: white;
    border: 5px solid white;
    border-radius: 20px;
}
#section2 article img{
    width: 237px;
    height: 117px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
#section2  h2{
    font-size: 1.5em;
}
#section2 article h3{
    font-size: 1.1em;
    padding-left: 15px;
    margin-top: 5px;
}
#section2 aside h3{
    font-size: 1.1em;
    margin-left: 15px;
}
#mer , #pan , #ami {
   margin-top: 30px; 
}
#section2 article p{
    padding-left: 15px;
    font-size: 1em;
    font-weight: normal;
}
#section2 aside p{
    font-size: 1em;
    font-weight: normal;
    margin-left: 15px;
}
#section2 aside img{
    height: 133px;
    width: 127px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    float: left;
}
aside li{
    width: 335px;
    height: 135px;
    background-color: white;
    border: 5px solid white;
    border-radius: 20px;
    justify-content: space-between;
}
aside p , aside h3{
    margin-top: 5px;
    padding-left: 140px;
}
#fle{
    color: black;
    margin-top: 30px;
    margin-left: 100px;
    font-size: 1.5em;
}
aside div{
    display: flex;
}
#section3{
    margin-top: 60px;
}
#section3 h3{
    font-size: 1em;
    padding-left: 15px;
}

#section3 li{
    width: 300px;
    border: 1px solid #F2F2F2;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow: 3px 3px 3px #F2F2F2;
}#section3 img{
    width: 300px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}
#port img , #cala img{
    height: 390px;
}
#port{
    margin-left: -40px;
    height: 440px;

}
#fort img{
    height: 180px;
}
#fort{
    height: 235px;
    margin-left: 310px;
    margin-top: -441px;
} 
#frioul img{
    height: 110px;
}   
#frioul{
    height: 165px;
    margin-left: 310px;
    margin-top: 38px;
}
#cala{
    height: 440px;
    margin-left: 660px;
    margin-top: -442px;
}
#garde img{
    height: 140px;
}
#garde{
    height: 195px;
    margin-left: 1000px;
    margin-top: -441px;
}
#long img{
    height: 155px;
}
#long{
    height: 210px;
    margin-left: 1000px;
    margin-top: 34px;
}
footer{
    margin-top: 60px;
    height: 215px;
    background-color: #F2F2F2;
    margin-left: -50px;
    padding-top: 50px;
}
footer a{
    font-weight: normal;
    color: black;
}
#propos{
    margin-left: 15px;
}
#heber{
    margin-left: 460px;
    margin-top: -155px;
}
#assist{
    margin-left: 920px;
    margin-top: -123px;
}
@media only screen and (max-width: 760px){
    body{
        height: 1.2em;
        width: 100%;
        margin-left: 20px;
    }
    header ul{
        font-size: 1.2em;
        flex-wrap: wrap-reverse;
        margin-left: auto;
    }
    #heb{
        margin-left: -40px;
        margin-top: 20px;
        
    }
    #act{
        margin-left: 80px;
        margin-top: 20px;
    }
    #ins{
        margin-top: -30px;
        margin-left: 250px;
    }
    #heb a:hover , #act a:hover{
        border-top-color: transparent;
        border-bottom-color: #0065FC;
        padding-bottom: 20px;
    }
    #logo{
        margin-top: -100px;
    }
    h2{
        font-size: 1.2em;
        width:80%;
    }
    p{
        font-size: 0.8em;
       
    }
    #section1 h2{
        margin-top: 60px;
    }
    #local i{
        width: 40px;
        height:40px;
        font-size: 1em;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
    }
    button{
        width: 45px;
        height: 45px;
        font-size: 1em;
        border-radius: 15px;
        margin-left: -30px;
        
    }
    #local input{
        height: 40px;
        font-size: 1em;
        width: 250px;
    }
    #filtres{
        margin-top: 30px;
        margin-left: -80px;
        font-size: 0.8em;
        flex-wrap: wrap;   
    }
    #filtres i{
        height:30px;
        width: 50px;
    }
    #filtres li{
        height: 50px;
       
    }
    #éco{
        width: 48%;
        
    }
    #fam{
        width: 39%;
        margin-left: 160px;
        margin-top: -56px;
    }
    #rom{
        width: 45%;
        margin-left: 0px;
        margin-top: 20px;
    }
    #ani{
        width: 60%;
        margin-left: 0px;
        margin-top: 20px;
    }
    #info{
        margin-top: 10px;
    }
    #section1 nav p{
       margin-top: -20px;
    }

    #info i{
        font-size: 1em;
        height: 30px;
        width: 30px;
        margin-top:20px;
    }
    #info p{
        margin-top: -30px;
        margin-left: 40px;
        width: 70%;
    }
    #section2 aside{
        margin-left: -220%;
        border-radius: 0px;
        
        height: 600px;
        padding-top: 0px;
    }
    #section2 h2{
        margin-left:20px;
        font-size: 1.2em;
    }
    #section2 aside div i{
        margin-top: 20px;
        font-size: 1.2em;
        margin-left: -30px;
    }
    aside li , #section2 article li{
        margin-left: -30px;
        width: 340px;
    }
    #section2 article{
        margin-top: 580px;
        margin-left:-20px;
        border-radius: 0px;
        background-color: white;
       
        
    }
    #section2 article ul{
        flex-direction: column;
    }
    #section2 article img{
        width: 340px;
    }
    #plus{
        margin-top: -20px;
    }

    #section3{
        margin-top: 1030px;
        
    }
    #section3 li{
        margin-left: -15%;
        width: 100%;
        height: 190px;
        
    }
    #section3 img{
        width: 100%;
        height: 135px;
    }
    #fort , #frioul , #cala , #garde , #long{
        margin-top: 20px;
    }
    footer{
        height: 500px;
        width: 380px;
        margin-top: 30px;
       margin-left: -20px;
        flex-direction: column;
    }
    footer h3{
        margin-left: 20px;
    }
    #propos {
        margin-left: -20px;
    }
    #heber{
        margin-left: -20px;
        margin-top: 20px;
    }
    #assist{
        margin-left: -20px;
        margin-top: 20px;
    }    
}